.treeItem{
  margin: 5px 0px 5px 0px;

}

.treeItem-container{
  height: 32px;
}

.treeItem-child {
  display: none;
  margin-left: 20px;
}

.treeItem-iconToggle, .treeItem-name, .treeItem-iconSite, .treeItem-child-iconDevice, .treeItem-child-name  {
  display: inline-block;
}

.treeItem-name {
  margin-left: 10px;
}